.container {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-device-width: 1600px) {
  .container {
    width: 800px ;
  }
}


@media screen and (max-device-width: 1024px) {
  .container {
    width: 512px;
  }
}

@media screen and (max-device-width: 768px) {
  .container {
    width: 384px;
  }
}


@media screen and (max-device-width: 568px) {
  .container {
    width: 284px;
  }
}
